<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Framework\Pricing\Render\Amount" type="Arpatech\PriceFormat\Pricing\Render\Amount" />-->
    <type name="Magento\Framework\Pricing\Render\Amount">
        <plugin name="arpatech_priceformat_product" type="Arpatech\PriceFormat\Plugin\Pricing\Render\Amount" sortOrder="1"/>
    </type>
</config>