<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Controller\Adminhtml\Order\AddComment" type="Arpatech\Smsgateway\Controller\Adminhtml\Order\AddComment" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\History" type="Arpatech\Smsgateway\Block\Adminhtml\Order\View\History" />
</config>