<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magmodules" translate="label" sortOrder="500">
            <label>Magmodules</label>
        </tab>
        <section id="magmodules_richsnippets" translate="label" type="text" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Rich Snippets Suite</label>
            <tab>magmodules</tab>
            <resource>Magmodules_RichSnippets::config</resource>
            <group id="branding" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Branding</label>
                <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Header</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Version</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Version</frontend_model>
                </field>
                <field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="store" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Store Information</label>
                <field id="name" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Sitename</label>
                    <comment>Fill in your Official Company Name.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="alternate_name" translate="label" type="text" sortOrder="12" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Alternative Sitename</label>
                    <comment>Be reasonbly similar to your domain name. Be a natural name used to refer to the site, such
                        as "Magmodules," rather than "Magmodules, Inc.". Be unique to your site and not used by some
                        other site not be a misleading description of your site.
                    </comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="logo" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Logo URL</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="website" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Schema: WebSite</label>
                <comment>Use structured data markup on your public website to indicate the preferred name you want
                    Google to display in Search results. You can also provide more than one possible name for your site,
                    and let Google Search algorithms choose between them. Also part of this schema is the Sitelinks
                    Search Box that displays a searchbox directly in the SERP.
                </comment>
                <field id="sitename" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Sitename</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sitesearch" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable SiteSearch</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>An improved search box within the search results. When shown, it will make it easier for
                        users to reach specific content on your site, directly through your own site-search pages. This
                        code is limited to the homepage.
                    </comment>
                </field>
            </group>
            <group id="localbusiness" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Schema: LocalBusiness</label>
                <comment>To claim an existing physical business or create a new one, use Google My Business and the LocalBusiness markup. Once you
                    verify yourself as the owner of a listing, you can provide and edit your address, contact info,
                    business type, and photos. This enables your local business information to show up in Google Maps
                    and in Knowledge Graph cards.
                </comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="type" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Type</label>
                    <source_model>Magmodules\RichSnippets\Model\System\Config\Source\LocalBusiness</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Company Name</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="address" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Company Address</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="city" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>City</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="postalcode" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Postal Code</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="region" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Region</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="country" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="telehone" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Telephone</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="latitude" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Geo: Latitude</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="longitude" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Geo: Longitude</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="pricerange" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Price Range</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>The price range of the business, for example $$$.</comment>
                </field>
                <field id="opening_hours" translate="label" type="text" sortOrder="13" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Opening Hours</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\System\Config\Form\Field\OpeningHours</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="organization" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Schema: Organization</label>
                <comment>Use corporate contact markup on your official website to add your company's contact information
                    to the Google Knowledge panel. In some searches, for example when a user enters your company’s name
                    into the Search bar, this details will be shown.
                </comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="contact_information" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Contact Information</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\System\Config\Form\Field\ContactInformation</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="social_links" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Social Links</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\System\Config\Form\Field\SocialLinks</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Schema: Products</label>
                <comment>Give Google detailed product information (Rich Cards) that they can use to display rich results (for
                    example, price, availability, and review ratings) right on Search results pages. Using this markup to
                    enable Rich Product results lets you attract potential buyers while they are searching for items to
                    buy on Google.
                </comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_offer" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Schema: Offer</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="stock" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Show Stock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display in stock or out of stock in the search results.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="condition" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Show Condition</label>
                    <source_model>Magmodules\RichSnippets\Model\System\Config\Source\ConditionType</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="condition_default" translate="label" type="select" sortOrder="23" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Default Condition</label>
                    <source_model>Magmodules\RichSnippets\Model\System\Config\Source\Condition</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="condition">1</field>
                    </depends>
                </field>
                <field id="condition_attribute" translate="label" type="select" sortOrder="24" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Condition Attribute</label>
                    <source_model>Magmodules\RichSnippets\Model\System\Config\Source\Attributes</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="condition">2</field>
                    </depends>
                </field>
                <field id="heading_rating" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Schema: Rating</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="rating" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Display Rating</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display review score (stars) in the search results.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="rating_metric" translate="label" type="select" sortOrder="32" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rating Metric</label>
                    <source_model>Magmodules\RichSnippets\Model\System\Config\Source\RatingMetric</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="rating">1</field>
                    </depends>
                </field>
                <field id="heading_attributes" translate="label comment" type="text" sortOrder="33" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Extra Data: Attributes</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="attributes" translate="label" type="select" sortOrder="34" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Attributes</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\System\Config\Form\Field\ProductAttributes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="heading_advanced" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Advanced</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="multi_configurable" translate="label" type="select" sortOrder="41" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Split Configurable Produtcs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>It's recommended using this function and split the simple products in the configurable products to generate unique data for each simple products to meet the Google Shopping requirements.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="hide_offer" translate="label" type="select" sortOrder="41" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Hide Offer When Price is Zero</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable to hide the "Offer" in the product snippet when the price is zero.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="social" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Social Integration</label>
                <comment>Activate the Social Integration and implement the Twitter Cards and OpenGraphs on your store and products.</comment>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="heading_general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="twitter_username" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter username</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="product" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Productpage</label>
                    <frontend_model>Magmodules\RichSnippets\Block\Adminhtml\Magmodules\Heading</frontend_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="opengraph" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>OpenGraph</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="twitter_cards" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Twitter Cards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

            </group>
        </section>
    </system>
</config>